name: matrix example

on: 
  push:
    branches:
      - "*"
jobs:
  test-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16, 17, 18]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: node -v
